.App-logout {
  width: 10%;
  .logout-btn {
    width: 90px;
    padding: 6px;
    font-size: 16px;
    font-weight: 600;
    background-color: #ff7875;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 25px;
  }
  .logout-btn:hover {
    font-weight: 700;
    border: 1px solid #820014;
    border-radius: 25px;
    background-color: #ff4d4f;
  }
}
